@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #fafafa;
  /* zinc-50 */
  --foreground: #18181b;
  /* zinc-900 */
}

.dark {
  --background: #09090b;
  /* zinc-950 */
  --foreground: #f4f4f5;
  /* zinc-100 */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}